form {
  display: flex;
  flex-direction: column;
}

input,
form button {
  margin: 4px !important;
}

.sugerencias {
  padding-left: 0;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  background-color: white;
}

.sugerencias ul {
  padding: 0;
  margin: 0;
}

.sugerencias li,
.sugerencias h5 {
  color: green;
  margin: 0;
}

.sugerencias li {
  display: flex;
  padding-left: 0;
  margin: 16px 0;
}

.esError {
  color: red
}

.modal-content li {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.modal-content input {
  display: flex;
}

.modal-content ul {
  padding-left: 0;
}

.modal {
  align-content: center;
}

.modal-header,
.modal-footer {
  background-color: rgb(216, 213, 213);
}