.portada p,
.portada .h1,
.portada .h2 {
    font-family: 'Courier New', Courier, monospace;
    color: #F6E3BA
}

.portada {
    top: 0;
    bottom: 0;
    background-image: url('/src/assets/images/backPass.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    max-width: 600px;
    opacity: 1;
    transition: opacity 1s ease;
    border: 1px solid #F6E3BA;
    padding: 8px;
    z-index: 1;
}

.portada img {
    max-height: 25%;
    width: auto;
    max-width: 80%;
}

.portada>div {
    height: 100%;
    border: 1px solid #F6E3BA;
    max-width: 100%;
}

.pasarPagina {
    opacity: 0;
}

.h1 {
    font-size: 72px !important;
}

.pasaporte-pattern {
    max-width: 500px;
    width: 100%;
    justify-self: center;
}

.pasaporte-pattern span {
    color: #F6E3BA;
    font-size: 14px;
    padding: 0 8px;
}

.pasaporte-pattern p {
    color: #F6E3BA;
    font-size: 18px;
    font-weight: bold;
}

.pasaporte-pattern input:not([type=range]) {
    color: #F6E3BA;
    font-size: 18px;
    font-weight: bold;
    padding: 0 8px;
    box-sizing: border-box;
    border-radius: 10rem;
}

::placeholder {
    font-weight: normal;
    color: #F6E3BA;
}

.pasaporte-pattern input:not([type=range], .errorMsg) {
    border: 1px solid #F6E3BA;
}


.errorMsg {
    border: 1px solid rgb(189, 87, 87);
}

.marginH {
    margin: 3vh 0;
}

input[type="range"] {
    --s: 80px;
    --b: 40px;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    width: 80vw;
    max-width: 400px;
    height: 10px;
    --l: 100%;
    height: 50px;
    overflow: hidden;
    border: 1px solid;
    border-radius: 50rem;
    --g: 8px;
    overflow: hidden;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 6px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: var(--s);
    width: var(--s);
    aspect-ratio: 1;
    transform: translateY(-47%);
    background: url('/src/assets/images/avion.png') no-repeat center/contain;
    border: 8px solid transparent;
    border-image: url('/src/assets/images/nubes.png') 0 0 0 100% /1 48.2%/1 100;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: var(--s);
    width: var(--s);
    aspect-ratio: 1;
    transform: translateY(-47%);
    background: url('/src/assets/images/avion.png') no-repeat center/contain;
    border: 8px solid transparent;
    border-image: url('/src/assets/images/nubes.png') 0 0 0 100% /1 48.2%/1 100;
}

.boxSlider {
    width: fit-content;
    height: 50px;
    justify-self: center;
    overflow: hidden;    
    border-radius: 50rem;
    background-color: rgba(90, 90, 90, 0.3);
}

.slider-container {
    position: relative;
    height: 50px;
}

.slider-container input {
    margin: 0;
}

.slider-placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #F6E3BA;
    padding: 4px 8px;
    border-radius: 8px;
    pointer-events: none;
    white-space: nowrap;
    z-index: 8;
}

.slider-placeholder i {
    display: inline-block;
}

@keyframes moveChevron {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(6px);
    }

    100% {
        transform: translateX(0);
    }
}

.slider-placeholder .bi {
    color: #F6E3BA;
    font-size: 25px;
    animation: moveChevron 2s infinite;
}


@media (max-width: 991px) {
    .h1 {
        font-size: 54px !important;
    }
}